.footer {
    background: #02362F;
}

.footer__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 20px 0px;
}

.footer__logo {
    width: 140px;
    height: 35px;
}

.footer__logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dropdown2 {
    position: relative;
}

.select2 {
    border-radius: 5px;
    background: #02443B;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 15px;

    color: #fff;

    cursor: pointer;
}

.selected2 {
    font-size: 18px;
    color: #fff;
    
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 20px;
    height: 20px;
}

.selected2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.caret2 {
   display: flex;
   align-items: center;
   justify-content: center;

   transition: .2s;
}

.dropmenu2 {
    padding: 5px 5px;

    background-color: #015c50;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
    border-radius: 5px;
    position: absolute;
    color: #fff;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    top: -7em;

    opacity: 0;
    visibility: hidden;
    height: 100%;

    transition: .2s;

    z-index: 1;
}

.dropmenu2.active {
    visibility: inherit;
    opacity: 1;
    top: -10em;
    height: auto;
}

.dropmenu__item2 {
    padding: 10px;
    border-radius: 5px;
    cursor: pointer; 
    
    display: flex;
    align-items: center;
    justify-content: center;

    transition: .3s;
}

.dropmenu__item2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dropmenu__item2:hover {
    background-color: #18685d;
}

.caret2.active {
    transform: rotate(180deg);
}

/* navbar */

.navbar__inner {
    display: flex;
    align-items: center;
    gap: 50px;
}

.navbar__item-a-footer {
    color: #fff;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.navbar__item-a-footer:hover {
    color: #EAC632;
}

.navbar__item-a-footer.active {
    color: #EAC632;
}

/* footer__basket */

.footer__end {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer__basket {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 14px 20px;

    border-radius: 5px;
    background: var(--button-1, #348379);

    color: #fff;
    font-size: 15px;

    border: none;
    cursor: pointer;
}

/* Footer__bottom */

.footer__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 20px 0px;
}

.footer_bt {
    background: #012923;
}

.footer__reklam {
    padding: 20px 0px;
}

.footer__company {
    padding: 20px 0px;
}

.footer__reklam p {
    color: rgba(255, 255, 255, 0.20);
    text-align: right;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer__company p {
    color: var(--2, #036C5E);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.footer__btn {
    display: flex;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;

    border-radius: 5px;
    background: #033029;

    border: none;
    cursor: pointer;
}

@media (max-width:430px) {
    .footer__inner {
        padding: 20px 10px;
    }

    .footer__bottom {
        padding: 20px 10px;
    }
}